body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  color: #333;
}


main {
  width: 90%;
  margin: 0 auto;
}

.hero {
  height: 70vh;
  background: url('/assets/img/btc.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 2.5%;
}

.hero-content {
  text-align: center;
}


.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.info-text {
  flex-basis: 60%;
}

.info-image {
  flex-basis: 35%;
  max-width: 85%;
  height: auto;
  border-radius: 10px;
}

.cta-section {
  background: #000;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.cta-button {
  background: #f00;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

.cta-link {
  color: #fff;
  text-decoration: none;
}

.cta-button:hover {
  background: #b30000;
}

.cta-button:active {
  background: #660000;
}

.info-text h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.info-text p {
  font-size: 1.2em;
  line-height: 1.4;
  color: #6e6d6d;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  bottom: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .info-section {
    flex-direction: column;
  }

  .info-text, .info-image {
    flex-basis: 100%;
    margin: 20px 0;
  }
}

nav {
  background-color: black;
  padding: 10px;
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.menu li {
  position: relative;
}

ul.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

ul.menu li:hover > ul.dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1;
}

.dropdown-menu li {
  border-bottom: 1px solid #555;
}

.dropdown-menu li a {
  color: #fff;
  padding: 10px;
  display: block;
}

@media (max-width: 400px){

  .section-container
  {
    flex-direction: row-reverse;
    flex-wrap: wrap;

  }

  img {
    width: fit-content; 
    height: 15em;
    justify-content: space-between;
  }


}

.section-container-mobile
{

  flex-direction: row-reverse;
  flex-wrap: wrap;

}

@media (max-width: 600px) {
  ul.menu {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  ul.menu li {
    width: 100%;
    text-align: center;
  }
  
  ul.menu li.dropdown {
    position: static;
  }
  
  ul.menu li:hover > ul.dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    position: static;
    width: 100%;
    display: none;
  }
  
  .dropdown-menu li {
    border: none;
  }
}
