body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease-in-out;
  }
  
  .profile-section {
    background-color: #fff;
    padding: 5%;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fade-in 3s forwards;
    position: relative;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5%;
    margin-bottom: 20px;

  }
  
  label {
    font-size: 14px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .profile-links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffacac;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
  }
  
  .profile-links a:hover {
    background-color: #ff8f8f;
  }
  
  .profile-links a:active {
    background-color: #ff6b6b;
  }
  
  

  
  .profile-section::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #ffacac;
    border-radius: 50%;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      top: -10px;
      height: 20px;
    }
    50% {
      top: -20px;
      height: 30px;
    }
    100% {
      top: -10px;
      height: 20px;
    }
  }
  
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul.menu li {
    position: relative;
  }
  
  ul.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  ul.menu li:hover > ul.dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
  }
  
  .dropdown-menu li {
    border-bottom: 1px solid #555;
  }
  
  .dropdown-menu li a {
    color: #fff;
    padding: 10px;
    display: block;
  }
