<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon_io/apple-touch-icon/">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src=javascript/index.js>

    </script>

    <link rel="stylesheet" href="css/indexStyles.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Crypto-Charts</title>


</head>

<body>

    <nav>
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Watchlist</a></li>
          <li class="dropdown">
            <a href="#">More &#9662;</a>
            <ul class="dropdown-menu">
              <li><a href="#">Help</a></li>
            </ul>
          </li>
        </ul>
      </nav>



<div id = "first-div">

<h3 id  = "bitcoin-price">
    Bitcoin price today
</h3>

</div>


<section class = "section-container">


<h2 class = "section-heading" >What is cryptocurrency?</h2>

<p class = "some-text">

The world of cryptocurrency is constantly evolving and becoming more complex. 
It is a decentralized digital currency that operates independently of central banks and governments. 
Bitcoin was the first cryptocurrency to gain widespread attention, but now there are thousands of cryptocurrencies, 
each with its unique features and applications. Blockchain technology, the backbone of cryptocurrencies, 
allows for secure, decentralized transactions that are transparent and verifiable. 
Cryptocurrency has the potential to revolutionize the way we conduct financial transactions, 
but it also comes with risks such as volatility and security concerns. As the world continues to explore 
the possibilities of cryptocurrency, its impact on the global economy and financial systems will only become more significant.

</p>

<img src="assets/img/crypto.jpg" alt="Cryptocurrency">


</section>


<div id = "after-section-one">

    <p id = "dummy-p-section-two">Let's get started! 
      
      <a  class="register" href = "/SignIn">Login/Register</a>
    
</p>
      


</div>




<footer>

Powered by <a href="https://www.coinmarketcap.com/en/api"> CoinMarketCap API & Frens</a>

</footer>
  





    
</body>

</html>