<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="css/not_found.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<body>
  <div class="container">
    <span class="emoji">😞</span>
    <h1>Oops! 404 - Page not found</h1>
    <p>The page you are looking for might have been removed or is temporarily unavailable.</p>
    <a href="/" class="button">Go back to Homepage</a>
  </div>
</body>
</html>
