<!DOCTYPE html>
<html>
<head>
  <title>My Watchlist</title>
  <link rel="stylesheet" type="text/css" href="css/watchlist.css">
</head>
<body>


  <nav>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/watchlist">Watchlist</a></li>
      <li class="dropdown">
        <a href="#">More &#9662;</a>
        <ul class="dropdown-menu">
          <li><a href="/help">Help</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <header>
    <h1>My Watchlist</h1>
  </header>

  
  <div class="container">
    <div class="add-form">
        <form method = "POST">
      <input type="text" id="cryptocurrencyInput" placeholder="Enter cryptocurrency name" name = "cryptocurrency">
      <button type = "submit" id="addButton">Add</button>
        </form>
    </div>
    
    <ul id="watchlist">

    

      
      

    <% const userWatchlist =  locals.watchlist; %>
    <% const prices =  locals.tokenPrices; %>
    <% for(let i = 0; i < userWatchlist.length; i++) { %>
      <li class="cryptocurrency">
        <div class="cryptocurrency">

          <span class="criptocurrency"> <%= userWatchlist[i].token %>
            
          </span>
    
        </div>
        <div class="cryptocurrency">
          <span class="price"><%= prices[i] %></span>
        </div>
      </li> 
      <%}  
       %>
    </ul>
  </div>


  
  <script src="javascript/watchlist_script.js"></script>
</body>
</html>
